{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <div class="media">
    <div class="row">
      <div class="container2">
        <img src="/static/profilepics/{{selected_user.image_file}}">
          <h2 class="account-heading">{{ selected_user.firstname }} {{ selected_user.lastname}}</h2>
          <div class="column">
            <ul>
              <p style="font-size: 20px"><b>User Information</b></p>
              <p><b>Username: </b>{{ selected_user.username }}</p>
              <p><b>Birthday: </b>{{ selected_user.date_of_birth }} </p>
              <p><b>Lives in: </b>{{ selected_user.zipcode }} </p>
              <p><b>Contact through: </b></p>
              <p style="text-indent: 20px">Email: {{ selected_user.email }}</p>
              <p style="text-indent: 20px">Phone: {{ selected_user.phone }}</p>
            </ul>
          </div>

          <div class="column">
            <ul>
              <p style="font-size: 20px"><b>Interests</b></p>
              <p><b>BookGenre: </b>{{ selected_interests[0]}}</p>
              <p><b>MovieGenre: </b>{{ selected_interests[1]}}</p>
              <p><b>MusicGenre: </b>{{ selected_interests[2]}}</p>
              <p><b>FavCuisine: </b>{{ selected_interests[3]}}</p>
              <p><b>Hobby: </b>{{ selected_interests[4]}}</p>
              <p><b>Outdoor Activity: </b>{{ selected_interests[5]}}</p>
              <p><b>Religion: </b>{{ selected_interests[6]}}</p>
            </ul>
          </div>

        </div>
    </div>
  </div>
</div>


{% endblock content %}
