{% extends "layout.html" %}

{% block content %}
    <h1>Send Message to {{recipient.firstname}} {{recipient.lastname}}</h1>
    <div class="row">
        <div class="col-md-4">
          <form action="" method="post" enctype="multipart/form-data">
              {{ form.hidden_tag() }}
              <p>
                  {{ form.message.label }}<br>
                  {{ form.message(size=32) }}<br>
                  {% for error in form.message.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
              </p>

              <p>{{ form.submit() }}</p>


        </div>
    </div>
{% endblock %}
